@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;600&family=Lobster&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

#app {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main,
header {
  width: 100%;
  max-width: 1280px;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  height: 30%;
  justify-content: center;
  background-color: black;
  border-bottom: 3px solid hotpink;
}

header > h1 {
  font-family: "Lobster";
  font-size: 3.5rem;
  color: yellow;
}

header > h1 > span {
  font-family: "Dancing Script";
  font-size: 2.5rem;
  color: hotpink;
}

.winning-score {
  margin-block: 1rem 0;
  font-family: "Lobster";
  font-size: 1.2rem;
  color: yellow;
}

main {
  height: 70%;
  justify-content: space-around;
  background: linear-gradient(transparent, dodgerblue);
}

.menu {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  background-color: yellow;
}

.menu > * {
  padding: 0.5rem 0.75rem;
  font-size: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  _border-bottom: 2px solid black;
  border-right: 2px solid black;
}

.menu > *:last-child {
  border-right: none;
  padding-block: 0.4rem;
}

.menu > .new-game > button {
  font-size: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  border: none;
  background-color: transparent;
}

.game-state--text {
  font-weight: 600;
}

.game-state--text.active {
  color: dodgerblue;
}

.game-state--text.win {
  color: limegreen;
  animation: blink 0.5s steps(3, end) infinite;
}

.game-state--text.fail {
  color: red;
  animation: blink 0.5s steps(3, end) infinite;
}

.game-state.win {
  border: 4px dotted limegreen;
}

.game-state.fail {
  border: 4px dashed red;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.25;
  }
  100% {
    opacity: 1;
  }
}

.letters {
  display: flex;
  gap: 0.5rem;
  font-size: 3.5rem;
}

.keyboard {
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  gap: 10px;
}

.alpha-button {
  _width: 2rem;
  _height: 2rem;
  aspect-ratio: 1;
  padding: 1.25rem 1.75rem;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.75rem;
  font-weight: 600;
  background-color: yellow;
  color: black;
  border: 2px solid black;
  box-shadow: 5px 5px 0px hotpink;
}

.alpha-button:disabled {
  background-color: black;
  color: yellow;
  border-color: yellow;
}

@media screen and (max-width: 767px) {
  header {
    height: 40%;
  }

  header > h1 {
    font-size: 2.75rem;
  }

  header > h1 > span {
    font-size: 1.75rem;
  }

  .letters {
    font-size: 2.75rem;
  }

  .menu > *,
  .menu > .new-game > button {
    font-size: 1.25rem;
  }

  main {
    height: 60%;
  }

  .keyboard {
    grid-template-columns: repeat(6, 1fr);
  }

  .alpha-button {
    font-size: 1.25rem;
    padding: 0.75rem 1rem;
  }
}

@media screen and (max-width: 991px) {
  .menu {
    display: block;
  }

  .menu > * {
    border-right: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  header {
    height: 35%;
  }

  main {
    height: 65%;
  }

  .keyboard {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media screen and (min-width: 992px) and (max-width: 1024px) {
  .keyboard {
    grid-template-columns: repeat(8, 1fr);
  }
}
